/**
 * Variables Colors
 * ----------------------------------------
 * Здесь хранятся все переменные, связанные с цветами.
 * Используем единый стиль именования: --color-[название]
 * Цвета группируются по назначению: базовые, фоновые, акценты и т.п.
 * Используем только HEX или rgba, избегаем смешанных форматов.
 * 
 * Пример:
 *   --color-primary: #c7762f;
 *   --color-background: #fff;
 *
 * Правила:
 * - Все имена переменных — в нижнем регистре, с дефисами.
 * - Избегаем повторений и дублирования.
 */


 :root {
  --button-icon-bg: rgba(110, 156, 159, 0.1);
  --white: #fff;
  --white-100: #f1eadc;
  --white-rgba-06: rgba(255, 255, 255, 0.6);
  --white-rgba-07: rgb(255, 255, 255, 0.7);

  --black-100: hsl(0, 0%, 28%);
  --black-300: #3a3939;
  --black-400: #1b262c; /*400 secondary*/
  --black-500: #252526;
  --black-600: #111; /*thirdly*/
  --black: #000;

  --gray-100: #ededed; /*gray light*/
  --gray-200: #e1e1e1;
  --gray-400: #b7b7b7;

  --red: #c90000;

  --ohra-300: #c75614;
  --ohra-400: #a75627;

  --orange-100: #d3b59b;
  --orange-200: #ea9145;

  --blue-light-rgba-01: rgba(110, 156, 159, 0.1);

	--page-bg: var(--white);
  --page-bg-accent: var(--white-100);
	--text-color: var(--black);
  --accent: #c7762f;
	--accent-additional: #998e78;
  --color-warning: var(--red);
	--link-color: var(--accent);

  --color-border-main: var(--black-400);
  --color-border-third: var(--ohra-300);
  --color-border-accent: var(--accent);
  --color-border-forth: var(--gray-400);

  --color-bg-light: var(--gray-200);

 }

 

