html, body {
  position: relative;
  min-height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.admin-panel-wrapper {
  display: flex;
  height: 100vh;
}

.admin-page {
  background: #E0E0E0;
}

.admin-page__content {
  flex-grow: 1;
}

.admin-page__content-form {
  height: 100%;
}


