.shop {
  padding-bottom: 50px;
}
.shop__container {
  margin: 0 auto;
  padding-left: 15px;
  padding-right: 15px;
  max-width: 100%;
}
.shop__header {
  margin-bottom: 40px;
}
.h2 {
}
.shop__content {
  overflow-x: auto;
}