html, body {
  position: relative;
  min-height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.admin-page > .admin-panel {
  position: relative;
}

.admin-page__panel-wrapper {
  flex: 1;
}

// .admin-page__content {
//   flex-grow: 1;
// }

.admin-page__content-form {
  height: 100%;
}




