.authorization-page {
  position: relative;

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content:center;

  background-color: #1b262c;
  // background-image: url('./../../img/login/1@2x.avif');
  // background-position: center center; // x y
  // background-size: cover;
  // background-repeat: no-repeat;

  // &::before {
  //   z-index: 0;
  //   content: "";
  //   display: inline-block;

  //   position: absolute;
  //   top: 0;
  //   left: 0;
  //   width: 100%;
  //   height: 100%;

  //   background-color: #daa97128;

  // }
  
}

.authorization__forms-wrapper {
  position: relative;
  z-index: 9;
  display: grid;
  width: 700px;
  min-height: 400px;
  grid-template-columns: 400px 1fr;
  align-items: center;

  overflow: hidden;
  box-shadow: 10px 15px 30px #000;
}

.authorization__links {
  position: relative;
  padding: 50px 30px;
  height: 100%;
  border: 1px solid #171f24;
  color: #fff;
  background-color: #171f24;
}

.authorization__subtitle {
  font-size: 20px;
}

.authorization__img {
  position: absolute;
  top: 75%;
  transform: translateY(-50%);
  left: -137px;

  overflow: hidden;
  svg {
    width: 250px;
    height: 250px;
    fill: #fff;
    stroke: #000;
    stroke-width: 3px;
  }
}



