.dashboard__header {
  margin-bottom: 20px;
  padding: 25px;
  background-color: #faf4f4;
  border-bottom: 1px solid var(--accent);
}

.dashboard-title {
  color: #3a3939;
  font-size: 18px;

  span {
    margin-right: 20px;
    font-size: 36px;
    font-weight: 700;
  }
}

.dashboard__item {
}

.dashboard__title {
}

.heading {
}

.dashboard__content {
  display: flex;
  flex-wrap: wrap;
}

.dashboard__content {
 
}

// .dashboard-item {
//   padding: 15px;
//   border: 1px solid rgb(199, 209, 216);
//   flex-grow: 2;
// }

// .dashboard-item {
//   margin-left: 15px;
//   margin-bottom: 15px;
// }
// .dashboard-item__title {
//   font-weight: 600;
//   font-size: 28px;
//   margin-bottom: 25px;
// }
// .dashboard-item__value {
//   font-size: 42px;
//   font-weight: 300;
//   margin-bottom: 25px;
// }

