.delivery {
  padding-top: 100px;
  padding-bottom: 100px;
}

.delivery__header {
  text-align: center;
}

.delivery__content {
  margin-bottom: var(--space-4xl);
  position: relative;
}

.delivery__img {
  margin-bottom: var(--space-2xl);
  
  display: flex;
  justify-content: center;
  height: 450px;
  width: 100%;
  overflow: hidden;

  img {
    filter: brightness(80%);
  }
}

.delivery__name {
  margin-bottom: var( --space-lg);
  
  font-size: var(--font-size-xl);
  line-height: 1.4;
}

.delivery__text {
  z-index: 1;
  padding: var( --space-lg);

  position: absolute;
  top: 90px;
  left: 180px;

  width: 450px;
  border-radius: var(--radius-lg);
  background-color: #fff;

  text-align: left;
  line-height: 1.4;
  letter-spacing: 0.02em;

  li + li {
    margin-top: var(--space-md);
  }

  li {
    display: flex;
  }

  li svg {
    margin-right: var(--space-md);
    flex-shrink: 0;
  }

}

.delivery___button {
  text-align: center;
}