.footer {
  padding-top: 100px;
  padding-bottom: 100px;
  
  font-size: var(--font-size-xs);
  line-height: 1.4;
  
	background-color: #1b262c;
}

.footer, .footer a {
  color: #fff;
}

.footer__content {
  display: grid;
  grid-template-columns: 1fr 2fr 1fr;
}

.footer__column {
  grid-column: 1;

  display: flex;
  justify-content: space-between;
  flex-direction: column;
  row-gap: var(--space-xl);

  &:first-child {
    grid-column: 1;
  }
  &:last-child {
    grid-column: 3;
  }
}

.footer__nav {
  grid-column: 2;
  font-size: 15px;
}

.footer__contact {
  grid-column: 3;
  text-align: right;

  font-size: var(--font-size-sm);

  * + * {
    margin-top: var(--space-sm);
  }

  a {
    display: block;
  }
}

.footer__copyright {
  grid-column: 1;

  p + p {
    margin-top: var(--space-sm);
  }
}

.nav-list {
  display: flex;
  justify-content: space-between;
}

.nav-list__item {
  font-size: var(--font-size-sm);
}

.inner-nav-wrapper {
  margin-top: var(--space-2xl);
}

.inner-nav__list li + li {
  margin-top: var(--space-sm);
}

.inner-nav__list {
  font-size: var(--font-size-xs);
}

