.header {
  // position: sticky;
  z-index: 99;
  background-color: var(--color-white);
  overflow: hidden;

	&__row {
		display: flex;
		justify-content: space-between;
		align-items: center;
	}
}

.header.header--with-admin-panel {
  margin-top: 70px;
  top: 70px;
}

.header__top {
  padding-top: var(--space-md);
  padding-bottom: var(--space-md);
  &--blog {
    border-bottom: 1px solid var(--color-accent);
  }
}

.header__row + .header__row {
  margin-top: var(--space-xl);
}

.header__nav {
  padding: var(--space-sm);
  position: relative;

  width: 100%;
  border-top: 1px solid var(--color-accent);
  border-bottom: 1px solid var(--color-accent);
}


.header__login {
  margin-right: var(--space-lg);
  
  display: flex;
  column-gap: var(--space-sm);
  align-items: center;
}

.header__img svg {
  width: 25px;
  height: 25px;
}

.header__cart .icon.icon--shopping-bag {
  width: 32px;
  height: 32px;
}


