.header {
  position: sticky;
  z-index: 999;
  background-color: #fff;
  overflow: hidden;

	&__row {
		display: flex;
		justify-content: space-between;
		align-items: center;
	}
}

.header.header--with-admin-panel {
  margin-top: 70px;
  top: 70px;
}

.header__top {
  padding-top: 10px;
  padding-bottom: 10px;
}

.header__row + .header__row {
  margin-top: 35px;
}

.header__nav {
  padding: 10px;
  position: relative;

  width: 100%;
  border-top: 1px solid var(--accent);
}


.header__login {
  margin-right: 25px;
  
  display: flex;
  column-gap: 10px;
  align-items: center;
}

.header__img svg {
  width: 25px;
  height: 25px;
}
