.header {
  position: sticky;
  z-index: 99;
  background-color: #fff;
  overflow: hidden;

	&__row {
		display: flex;
		justify-content: space-between;
		align-items: center;
	}
}

* + .header {
  margin-top: 54px;
  top: 54px;
}

.header__row + .header__row {
  margin-top: 35px;
}

.header__nav {
  padding: 10px;
  position: relative;

  width: 100%;
  border-top: 1px solid var(--accent);
}


.header__row nav {
}

.header__nav {
	@include tablet {
		display: none;
	}
}

.header__login {
  margin-right: 25px;
  
  display: flex;
  column-gap: 10px;
  align-items: center;
}
