/*text*/
.header {
  position: relative;
  margin-bottom: 50px;
}

.header__block {
  padding: 15px;

  position: absolute;
  left: 35%;
  top: 55%;
  transform: translate(-50%, -50%);
}

.header__text {
  padding: 10px;
  background: linear-gradient(90deg, rgba(255,255,255,0.9) 55%, rgba(255,255,255,0.3310574229691877) 75%);
}

.header__title {
  margin-bottom: 40px;
}

.header__desc {
  position: relative;

  p {
    font-style: italic;
    font-weight: 400;
    font-size: 20px;
    line-height: 1.4;
    color: #000;
  }

  p + p {
    margin-top: 10px;
  }
}

.header__button {
  margin-top: 120px;
  display: flex;
}

