.hero-block {
  display: flex;
  height: 100%;
  min-height: 65vh;
  padding-top: 20px;
  padding-bottom: 20px;
  justify-content: center;
  flex-direction: column;
}
.hero-block__img {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  overflow: hidden;

  img {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
}