.page-login {
  position: relative;

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content:center;

  background-color: #1b262c;
  background-image: url('./../../img/login/1@2x.avif');
  background-position: center center; // x y
  background-size: cover;
  background-repeat: no-repeat;

  &::before {
    z-index: 0;
    content: "";
    display: inline-block;

    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;

    background-color: #daa97128;
  }
  
}


.login-page__form {

}

.forms-grid {
  position: relative;
  z-index: 9;
  display: grid;
  width: 700px;
  min-height: 400px;
  grid-template-columns: 400px 1fr;
  align-items: center;

  overflow: hidden;
  box-shadow: 10px 10px 20px #000;
}

.authorization-form {
  padding: 50px 40px;
  height: 100%;

  border: 1px solid #1b262c;
  
  text-align: center;
  color: #1b262c;
  background-color: #fff;
}

.authorization-form__heading {
  margin-bottom: 30px;
  text-align: left;

  .heading {
    font-size: 32px;
  }
}


.notMember {
  padding: 50px 30px;
  height: 100%;
  border: 1px solid #1b262c;
  color: #fff;
  background-color: #1b262c;
}

.notMember__title {
  font-size: 20px;
}

.authorization-form__heading {
  margin-bottom: 30px;
}

.heading {
}

.authorization-form__subtitle {
  margin-bottom: 10px;
  text-align: left;
}

.authorization-form__input {

  input {
    display: block;
    margin-right: auto;

    padding: 10px 15px;
    width: 200px;
    border-radius: 2px;
    border: 1px solid #1b262c;
  }

}

.authorization-form__input + .authorization-form__input {
  margin-top: 25px;
}

.input {
}
.authorization-form__button, .authorization-form__links {
  margin-top: 40px;
  text-align: left;
}

.primnary-button {
}
.authorization-form__links {
}