.admin-page {
  background-color: #eeedf0;
}

.admin-panel-wrapper {
  display: flex;
  height: 100vh;
}

.admin-page__content {
  flex-grow: 1;
}

.admin-page__admin-page__dashboard{
  height: 100%;
}

