.prices {
  padding-top: 50px;
  padding-bottom: 50px;
}

.prices__header {
  text-align: center;
}


.prices__cards .cards-row {
  justify-content: space-evenly;
}

.price-card {
  height: 500px;
  width: 350px;
  font-family:'Times New Roman', Times, serif;
}

.price-card__body {
  height: 80%;
  border-radius: 15px;
}

.price-card__title {
  margin-bottom: 40px;
}

.price-card__header {
  margin-bottom: 90px;
  padding: 30px 30px 15px 30px;

  text-transform: uppercase;
  font-size: 32px;
  font-weight: 600;
  text-align: center;
   color: var(--color--black);
}

.price-card__text {
  margin-bottom: 15px;

  display: flex;
  justify-content: center;
  align-items: center;

  font-size: 22px;
  color: var(--color--black);
}

.price-card__table {
  margin-right: auto;
  margin-left: auto;

  height: 270px;
  width: 90%;

}

.price-card__plans-row {
  display: flex;
  height: 100%;
}

.price-card__plan {
  padding: 10px;

  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  width: 100%;

  font-size: 18px;
  text-align: center;
}



