.products {
  padding-top: 110px;
  padding-bottom: 72px;
}

.products__cards-wrapper {
  margin-bottom: var(--space-4xl);
}

.products__cards-row {
  display: flex;
  flex-wrap: wrap;
  column-gap: var(--space-lg);
  row-gap: var(--space-xl);
}

.products__pages-shown {
  margin-bottom: var(--space-4xl);
}