main.product-page {
  padding-top: 110px;
  padding-bottom: 130px;
}

.product {
  margin-bottom: 130px;
}

.product__swiper {
  display: flex;
  flex-direction: column;
  row-gap: 25px;
}

.product__price .price {
  font-size: 22px;
}

.product__content {
  display: grid;
  grid-template-columns: 660px 1fr;
}

.product__header {
  margin-bottom: 20px;
  padding-bottom: 20px;
  border-bottom: 1px solid #000;
}

.product-row + .product-row {
  margin-top: 10px;
}

.product-row {
  display: flex;
  align-items: center;
  column-gap: 15px;
}

.product__brand {
  width: 50%;
}

.product__tags {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  gap: 5px;
}

.product__desc {
  padding: 20px;
}

.product__cta {
  display: flex;
  column-gap: 11px;
}

.product__text {
  margin-bottom: 14px;

  font-weight: 500;
  font-size: 20px;
  line-height: 1.4;
}

.form-product__button {
  margin-top: 30px;
  text-align: center;
}
