.profile {
  padding-top: var(--space-4xl);
  padding-bottom: var(--space-4xl);
}

.profile__title {
  padding-bottom: var(--space-2xl);
  text-align: center;
}

.profile__row {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin-right: -(var(--space-md));
  margin-left: -(var(--space-md));
  
}

.profile__column {
  position: relative;
  width: 100%;
  padding-right: var(--space-md);
  padding-left: var(--space-md);

  &--img {
    flex: 0 0 16.666667%;
    max-width: 16.666667%;
  }

  &--desc {
    flex: 0 0 33.333333%;
    max-width: 33.333333%;
  }
}

.profile__definition-list {
  margin-bottom: var(--space-lg);
}

// .enter-or-reg {
//   height: 180px;

//   display: flex;
//   justify-content: center;
//   align-items: center;
//   flex-direction: column;
//   row-gap: 20px;

//   background-color: #eaeff2;
//   border-radius: 8px;
//   text-align: center; 
// }

// .enter-or-reg__text {
//   max-width: 400px;

//   font-weight: 400;
//   font-size: 20px;
//   line-height: 1.5;
// }

.profile__wrapper {
  max-width: 720px;
  margin-right: auto;
  margin-left: auto;
}

.profile__form-wrapper {
  background: rgba(255, 255, 255, 0.25); /* Полупрозрачный белый */
  backdrop-filter: blur(10px); /* Эффект матового стекла */
  -webkit-backdrop-filter: blur(10px);
  border-radius: 20px; /* Скругленные углы */
  box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.2); /* Легкая тень */
  border: 1px solid rgba(255, 255, 255, 0.18); /* Нежная рамка */
  padding: 30px;
}

.profile__user-avatar {
  position: relative;
}
.profile__user-avatar .btn-add-photo {
  z-index: 9;
  position: absolute;
  top: 0;
  right: 0;
}