.service {
  padding-top: 100px;
  padding-bottom: 100px;
}

.service__header {
  text-align: center;
}

.service__list {
  display: flex;
  justify-content: space-between;
}

.service___item {
  text-align: center;
}

.service__content {
  margin-bottom: 65px;

  display: grid;
  column-gap: 40px;
  grid-template-columns: repeat(3, 1fr);
}

.service___img {
  margin-bottom: 37px;
}

.service___name {
  margin-bottom: 24px;
  
  font-size: 25px;
  line-height: 1.4;
}

.service___text {
  text-align: left;
  font-size: 17px;
  line-height: 1.4;
  letter-spacing: 0.02em;

  p + p {
    margin-top: 10px;
  }
}

.service___button {
  text-align: center;
}