.sidebar-wrapper {
  overflow-y: auto;
}

.sidebar {
  max-width: 280px;
  min-height: 100%;
  background-color: #212121;
  color: #fff;
}

.sidebar__container {
  margin: 0 10px;
}

.sidebar__content {
  padding-top: 20px;

  display: flex;
  flex-direction: column;
  justify-content: space-between;
  row-gap: 50px;
}

.sidebar__list-item {
  height: 60px;
  line-height: 60px;

  & > * {
    width: 100%;
  }

  &:nth-last-child(2) {
    margin-top: 100px;
  }
}


.sidebar__title-wrapper {
  margin-bottom: 15px;
}

.sidebar__header {
  font-family: 'Playfair Display', sans-serif;
  font-weight: 700;
  font-size: 28px;
  line-height: 1.3;
  text-align: center;
  color: #fff;
}

.sidebar__title {
  font-size: 28px;
  line-height: 1.3;
}

.sidebar__subtitle {
  font-size: 13px;
  line-height: 1.2;
  text-transform: uppercase;
}

.sidebar__list-button {
  padding: 15px 30px;

  display: flex;
  align-items: center;

  border-radius: 8px;

  font-family: 'Montserrat', sans-serif;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.3;
  color: rgb(255, 255, 255, 0.7);
  transition: background-color 0.1s ease-in;


  &:hover {
    color: #fff;
    background-color: rgba(73, 82, 91, 0.4);
  }

  &.active {
    
  }
}


// .sidebar__inner-link {
//   padding-left: 65px;

//   font-family: 'Montserrat', sans-serif;
//   font-weight: 500;
//   font-size: 16px;
//   line-height: 1.3;
//   color: #bdc3c7;
//   transition: background-color 0.1s ease-in;
// }

// .sidebar__inner-link:hover {
//   color: #bdc3c7;
//   text-decoration: none;
//   background-color: rgba(73, 82, 91, 0.5);
// }

// .sidebar__inner-link--active {
//   font-family: 'Montserrat', sans-serif;
//   font-weight: 700;
//   font-size: 16px;
//   line-height: 1.3;
//   color: #fff;
// }

// .sidebar__inner-link--active:hover {
//   text-decoration: none;
//   background-color: rgba(73, 82, 91, 0.5);
//   color: #fff;
// }

.sidebar__list-img-wrapper {
  margin-right: 20px;

  flex-shrink: 0;

  position: relative;

  display: inline-block;
  width: 24px;
  height: 24px;
}

.sidebar__list-img-wrapper-img {
  object-fit: cover;
  object-position: center;
}

.sidebar__list-img-badge {
  padding: 4px;

  position: absolute;
  top: 0;
  right: 0;
  transform: translate(50%, -50%);
  border-radius: 50%;

  font-family: 'Montserrat', sans-serif;
  font-weight: 600;
  font-size: 12px;
  line-height: 1;
  color: #fff;
  background-color: red;
  text-align: center;
}

// a.sidebar__title-wrapper {
//   color: #fff;
//   text-decoration: none;
//   display: block;
// }

.sidebar__list-img-badge {
  min-width: 18px;
  line-height: 1;
}

