.cart {
}
.cart-header {
  padding-bottom: 26px;
  padding-right: 100px;
  margin-bottom: 50px;

  display: grid;
  grid-template-columns: 475px auto;
  border-bottom: 1px solid #ccc;
}

.cart-header__wrapper {
  display: flex;
  column-gap: 15px;
  justify-content: space-between;
}

.cart-header__title {
  font-size: 20px;
  line-height: 1.4;
}
.cart-header__count {
}
.cart-header__cost {
}
.cart-footer {
  display: flex;
  align-items: center;
  justify-content: flex-end;
}

.cart-footer__total {
  padding: 16px 31px;
  background-color: #f1eadc;
}
.cart-footer__text {
}
.cart-footer__count {
}
.cart-footer__price {
}
.cart-footer__button {
  margin-left: 15px;
}
.button-solid {
}