.contacts {
}

.contacts__header {
  margin-bottom: 214px;
}

.contacts__map-wrapper {
}

.contacts__map {
  margin-bottom: 130px;
}

.contacts__widget:not(:last-child) {
  margin-bottom: 130px;
}

.contacts__list {
}
.contacts__item {
}
.contacts__link {
}
.contacts__form {
}
.form-contact {
}
.form-contact__title {
}
.form-contact__input {
}
.form-contact__button {
}
.button-solid {
}
.form-contact__notification {
}
.message-success {
}