.products {
  padding-top: 90px;
  padding-bottom: 72px;
}

.products__header {
  margin-bottom: 65px;
}

.products__title {
  margin-bottom: 26px;
}

.products__cards {
  margin-bottom: 65px;
}

.products__pages-shown {
  margin-bottom: 65px;
}