.products {
  padding-top: 190px;
  padding-bottom: 72px;
}

.products__header {
  margin-bottom: 272px;
}

.products__tilte {
  margin-top: 26px;
}

.products__cards {
  margin-bottom: 65px;
}

.products__pages-shown {
  margin-bottom: 65px;
}