.product-cart {
  display: grid;
  grid-template-columns: 475px auto;

  & + & {
    margin-top: 70px;
  }
}

.product-cart__wrapper {
  display: flex;
  align-items: center;
  justify-content: flex-start;
}

.product-cart__wrapper:last-child {
  display: grid;
  column-gap: 30px;
  grid-template-columns: 1fr 1fr 65px 1fr;
}

.product-cart__controls {
  margin-right: 45px;
}
.button-delete {
}

.product-cart__img {
  margin-right: 36px;
}
.product-cart__title {
}
.product-cart__price {
}
.product-cart__count {
}
.count {
}
.count__box {
}
.count__input {
}
.count__controls {
}
.count__up {
}
.icon--control-up {
}
.count__down {
}
.icon--control-down {
}
.product-cart__total {
  grid-column: 4;
}