html {
	scroll-behavior: smooth;
	background-color: rgb(39, 39, 39);
}
body {
	background-color: var(--page-bg);
	color: var(--text-color);
	font-family: var(--font-main);
  font-size: 18px;
	text-wrap: balance;
  font-weight: 500;
  line-height: 1.6;
  letter-spacing: 0.02em;
}

html, body {
  position: relative;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

img {
	display: block;
}

a {
  display: block;
	color: var(--color-black);
}

.inner-page {
  padding-top: 50px;
  padding-bottom: 50px;
}
