/* Базовый стиль для всех кнопок */
.button, a.button {
  display: flex;
  align-items: center;
  justify-content: center;

  padding: 0 15px;
  font-size: 16px;
  transition: all 0.3s ease;
  cursor: pointer;
  text-decoration: none;
}
// .button, a.button {
//   display: inline-block;
//   text-align: center;
//   padding: 0 15px;
//   font-size: 16px;
//   line-height: 1.4;
//   transition: all 0.3s ease;
//   cursor: pointer;
//   text-decoration: none;
//   vertical-align: middle;
// }

/* Solid кнопка */
.button-solid, a.button-solid {
  width: 243px;
  padding: 22px 0;

  background-color: var(--button-bg);
  color: #fff;
  font-weight: 400;
  font-size: 17px;

  transition: all 0.5s ease;
}

.button-solid:hover,
a.button-solid:hover {
  background-color: var(--button-bg-hover);
}

/* Outline кнопка */
.button-outline, a.button-outline {
  width: 243px;
  height: 68px;
  padding: 20px 0;

  border: 1px solid var(--button-bg);
  color: var(--button-bg);
  font-weight: 400;
  font-size: 17px;
  background-color: transparent;

  transition: all 0.5s ease;
}

.button-outline--small, a.button-outline--small {
  width: 155px;
  height: 50px;
  font-size: 12px;
}

.button-outline:hover,
a.button-outline:hover {
  background-color: var(--button-bg);
  color: #fff;
}

/* Primary кнопка */
.button-primary, a.button-primary {
  max-width: 200px;
  height: 50px;
  border-radius: 5px;
  line-height: 50px;

  background-color: var(--button-primary-bg);
  color: var(--button-primary-text);
  border: 1px solid var(--button-primary-bg);

  transition: all 0.3s ease;
}

.button-primary:hover {
  background-color: var(--button-primary-bg--hover);
  border-color: var(--button-primary-bg--hover);
}

.button-primary:focus {
  box-shadow: 0 0 5px var(--button-primary-bg--focus);
  border-color: var(--button-primary-bg--focus);
}

.button-primary:active {
  background-color: var(--button-primary-bg--active);
  border-color: var(--button-primary-bg--active);
  box-shadow: none;
}

.button-primary:disabled {
  background-color: var(--button-primary-bg--disabled);
  border-color: var(--button-primary-bg--disabled);
  cursor: not-allowed;
}

/* Outline вариант Primary */
.button-primary-outline, a.button-primary-outline {
  max-width: 200px;
  height: 50px;
  padding: 0 15px;

  background-color: var(--button-primary-outline-bg);
  border: 1px solid var(--button-primary-outline-border);
  border-radius: 5px;

  color: var(--button-primary-outline-text);
  text-align: left;

  transition: all 0.3s ease;
}

.button-primary-outline:hover {
  background-color: var(--button-primary-outline--hover);
  border-color: var(--button-primary-outline--hover);
}

.button-primary-outline:focus {
  box-shadow: 0 0 5px var(--button-primary-outline-bg--focus);
  border-color: var(--button-primary-outline-bg--focus);
}

.button-primary-outline:active {
  background-color: var(--button-primary-outline-bg--active);
  border-color: var(--button-primary-outline-bg--active);
  box-shadow: none;
}

.button-primary-outline:disabled {
  background-color: var(--button-primary-outline-bg--disabled);
  border-color: var(--button-primary-outline-bg--disabled);
  cursor: not-allowed;
}

/* Кнопка с иконкой */
// .button--with-icon, a.button--with-icon {
//   display: flex;
//   align-items: center;
//   justify-content: center;
// }

.button--with-icon::after {
  margin-left: 20px;
  content: "";
  width: 10px;
  height: 10px;
  border-left: 2px solid #fff;
  border-top: 2px solid #fff;
  transform: rotate(135deg);
  transition: margin 0.5s ease;
}

.button--with-icon:hover::after {
  margin-left: 35px;
}

/* Специальная админская solid-кнопка */
.button-solid-admin, a.button-solid-admin {
  max-width: 140px;
  height: 50px;
  line-height: 50px;
  border-radius: 10px;
  background-color: var(--button-solid-admin-bg);
  box-shadow: 1px 1px 2px #3a3939;
  color: #fff;
  font-size: 17px;
}

.button-solid-admin:hover {
  background-color: var(--button-bg-hover);
}

/* Закрывающая кнопка */
.button-close {
  z-index: 9;
  position: absolute;
  top: 5px;
  right: 5px;
  cursor: pointer;
}

.button-close svg {
  transition: stroke 0.2s ease-in;
}

.button-close--with-bg {
  padding: 5px;
  backdrop-filter: blur(2px);
  background-color: rgba(255, 255, 255, 0.6);
}

.button-close--with-bg .icon--close {
  stroke: #000;
}

/* Псевдокнопка для загрузки */
.button-fake {
  max-width: 287px;
  height: 68px;
  padding: 16px 50px 16px 30px;

  background-color: #f1eadc;
  font-weight: 500;
  font-size: 25px;
  color: #000;
}
