@import './mixins';

.buttons {
  display: flex;
  align-items: center;
  column-gap: 20px;
}

/* Базовый стиль для всех кнопок */
.button {
  display: inline-block;
  vertical-align: middle;
  width: auto;
  max-width: 100%;

  text-align: center;
  line-height: 1.5; // это font size * 1,5, для лучшей читаемости
  font-size: var(--font-size-md);
  font-family: var(--font-secondary);
  font-weight: var(--font-weight-regular);

  transition: all 0.2s ease-in;
  text-decoration: none;

  cursor: pointer;
}

.button--full {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
}

/* Primary кнопка */
.button--primary {
  border-radius: var(--radius-sm);
  background-color: var(--button-primary-bg);
  color: var(--button-primary-text);
  border: 1px solid var(--button-primary-bg);
}

.button--primary:hover {
  background-color: var(--button-primary-bg-hover);
  border-color: var(--button-primary-bg-hover);
}

.button--primary:focus {
  box-shadow: 0 0 4px var(--button-primary-bg-focus);
  border-color: var(--button-primary-bg-focus);
}

.button--primary:active {
  background-color: var(--button-primary-bg-active);
  border-color: var(--button-primary-bg-active);
  box-shadow: none;
}

.button--primary:disabled {
  background-color: var(--button-primary-bg-disabled);
  border-color: var(--button-primary-bg-disabled);
  cursor: not-allowed;
}

/* Button Warning */
.button--warning {
  background-color: var(--button-primary--warning-bg);

  &:hover {
    background-color: var(--button-primary--warning-bg-hover);
  }
}


/** Outline кнопка **/
.button--outline {
  border: 1px solid var(--color-accent);
  border-radius: var(--radius-sm);
  color: var(--color-accent);
  background-color: var(--color-white);
}

.button--outline-transparent {
  color: var(--color-white);
  border-color: var(--color-white);
  background-color: var(--color-transparent); 
}

.button--outline:hover {
  background-color: var(--color-accent);
  border-color: var(--color-accent);
  color: var(--color-white);
}

.button--outline:focus {
  box-shadow: 0 0 5px var(--button-primary-outline-bg-focus);
  border-color: var(--button-primary-outline-bg-focus);
}

.button--outline:active {
  background-color: var(--button-primary-outline-bg-active);
  border-color: var(--button-primary-outline-bg-active);
  box-shadow: none;
}

.button--outline:disabled {
  background-color: var(--button-primary-outline-bg-disabled);
  border-color: var(--button-primary-outline-bg-disabled);
  cursor: not-allowed;
}


/** Кнопка с иконкой **/
.button--with-icon {
  width: 150px;
  text-align: left;
  justify-content: flex-start;

  &::after {
    margin-left: 20px;

    display: inline-block;
    width: 10px;
    height: 10px;

    content: "";
    
    border-left: 2px solid var(--color-white);
    border-top: 2px solid var(--color-white);
    transform: rotate(135deg);
    transition: margin 0.5s ease;
  }
}

.button--with-icon:hover::after {
  margin-left: var(--space-xl);
}


/* Закрывающая кнопка */
.button--close {
  z-index: 9;
  position: absolute;
  top: var(--space-xs);
  right: var(--space-xs);
}

.button--close svg {
  // transition: stroke 0.2s ease-in;
}

.button--close-with-bg {
  padding: var(--space-xs);
  backdrop-filter: blur(2px);
  background-color: (--color-white-rgba-06);

  svg {
    stroke: var(--color-black);
  }
}

/* BUTTON BACKTOP*/
.button--backtop {
  z-index: 100;
  position: fixed;
  bottom: 25px;
  right: 25px;

  width: 30px;
  height: 45px;

  background-color: var(--color-white);
  opacity: 0;
  overflow: visible; /* важно для псевдоэлемента */
}

.button--backtop-active:hover {
  opacity: 1;
  background-color: var(--color-white);
  transform: scale(1.1); /* можно убрать или настроить */

  .icon--arrow {
    stroke: var(--color-black);
  }
}

.button--backtop::before {
  content: "";
  position: absolute;
  top: -20px;
  right: -20px;
  bottom: -20px;
  left: -20px;
  /* создаёт невидимую зону вокруг кнопки */
}

.button--backtop svg {
  transition: fill 0.2s ease-in;
  pointer-events: none; /* чтобы SVG не мешал hover-зоне */
}

.button--tab {
  border: 1px solid var(--color-black);
  color: var(--color-white);
  background-color: var(--color-black);
}

.button--tab.active {
  color: var(--color-black);
  background-color: var(--color-white);
}

.button--tab:hover:not(.active) {
  border-color: var(--color-accent);
  background-color: var(--color-accent);
}


/* РАЗМЕРЫ*/
.button--xs {

}

.button--s {
  @include button-size(40px, var(--space-md), 150px, var(--font-size-xs));
  max-width: 150px;
}
// $height, $padding-x, $min-width, $font-size: var(--font-size-sm)
.button--m {
  @include button-size(50px, var(--space-md), 200px, var(--font-size-sm));
  max-width: 200px;
}

.button--l {
  @include button-size(68px, var(--space-lg), 250px, var(--font-size-lg));
  max-width: 250px;
}

.button--xl {
  @include button-size(68px, var(--space-lg), 250px, var(--font-size-lg));
}


