.button-solid, a.button-solid  {
  display: inline-block;
  padding: 22px 0;
  width: 243px;
  background-color: var(--button-bg);
  
  font-weight: 400;
  line-height: 17px;
  font-size: 17px;
  text-align: center;
  color: #fff;

  transition: all 0.5s ease;

  &:hover {
    background-color: var(--button-bg-hover);
  }
}

.button-icon-wrapper {
  display: flex;
  align-items: center;
  justify-content: center;

  width: 68px;
  height: 68px;
  background-color: var(--button-icon-bg);
}

.button-outline {
  display: inline-block;
  padding: 20px 0;
  min-width: 243px;
  height: 68px;
  border: 1px solid var(--button-bg);

  font-weight: 400;
  font-size: 17px;
  line-height: 1.39;
  text-align: center;
  color: var(--button-bg);

  transition: all 0.5s ease;

  &:hover {
    background-color: var(--button-bg);
    color: #fff;
  }
}

.button-fake {
  display: inline-block;
  min-width: 287px;
  height: 68px;
  padding: 16px 50px 16px 30px;

  background-color: #f1eadc;

  font-weight: 500;
  font-size: 25px;
  line-height: 1.4;
  color: #000;
}

.button, a.button {
  padding: 0 15px;
  display: inline-block;
  width: 200px;
  height: 50px;
  line-height: 50px;
}

.button-primary, a.button-primary {
  padding: 0 15px;
  width: 200px;
  height: 50px;
  

  border-radius: 5px;
  color: var(--button-primary-text);
  line-height: 50px;
  font-size: 16px;

  background-color: var(--button-primary-bg);
  border: 1px solid var(--button-primary-bg);
  text-align: center;

  transition: background-color 0.2s ease-in, border-color 0.2s ease-in, box-shadow 0.2s ease-in;

  &:hover {
    border-color: var(--button-primary-bg--hover);
    background-color: var(--button-primary-bg--hover);
  }

  &:focus {
    border-color: var(--button-primary-bg--focus);
    box-shadow: 0px 0px 5px var(--button-primary-bg--focus);
  }

  &:active {
    box-shadow: 0px 0px 0px transparent;
    border-color: var(--button-primary-bg--active);
    background-color: var(--button-primary-bg--active);
  }

  &:disabled {
    border-color: var(--button-primary-bg--disabled);
    background-color:  var(--button-primary-bg--disabled);
  }
}

.button-primary-outline, a.button-primary-outline {
  padding: 0 15px;
  width: 200px;
  height: 50px;
  line-height: 50px;

  border-radius: 5px;
  background-color: var(--button-primary-outline-bg);
  border: 1px solid var(--button-primary-outline-border);

  font-size: 16px;
  text-align: left;
  color: var(--button-primary-outline-text);

  transition: background-color 0.2s ease-in, border-color 0.2s ease-in, box-shadow 0.2s ease-in;

  &:focus {
    border-color: var(--button-primary-outline-bg--focus);
    box-shadow: 0px 0px 5px var(--button-primary-outline-bg--focus);
  }

  &:active {
    box-shadow: 0px 0px 0px transparent;
    border-color: var(--button-primary-outline-bg--active);
    background-color: var(--button-primary-outline-bg--active);
  }

  &:disabled {
    border-color: var(--button-primary-outline-bg--disabled);
    background-color:  var(--button-primary-outline-bg--disabled);
  }

  &:hover {
    border-color: var(--button-primary-outline--hover);
    background-color: var(--button-primary-outline--hover);
  }
  
}

.button--with-icon, a.button--with-icon {
  display: flex;
  align-items: center;

  &::after {
    margin-left: 20px;

    display: inline-block;
    content: "";

    width: 10px;
    height: 10px;

    border-left: 2px solid #fff;
    border-top: 2px solid #fff;
    transform: rotate(135deg);

    transition: margin 0.5s ease;
  }

  &:hover::after {
    margin-left: 35px;
  }
}

.button-solid-admin, a.button-solid-admin  {
  display: inline-block;

  width: 140px;
  height: 50px;
  line-height: 50px;
  border-radius: 10px;
  background-color: var(--button-solid-admin-bg);
  box-shadow: 1px 1px 2px #3a3939;;

  font-size: 17px;
  text-align: center;
  color: #fff;

  transition: all 0.5s ease;

  &:hover {
    background-color: var(--button-bg-hover);
  }
}

.button-close {
  z-index: 9;
  position: absolute;
  top: 5px;
  right: 5px;
  cursor: pointer;

  svg {
    transition: stroke 0.2s ease-in;
  }

}

.button-close--with-bg {
  padding: 5px;
  backdrop-filter: blur(2px);
  background-color: rgba(255, 255, 255, 0.6);
}

.button-close--with-bg .icon--close {
  stroke: #000;
}




