.h1 {
  font-family: var(	--font-titles);
  font-size: 44px;
  line-height: 1.1;
}

.h2 {
  font-family: var(	--font-titles);
  font-size: 40px;
  line-height: 1.1;
}

.h3 {
  font-family: var(	--font-titles);
  font-size: 20px;
  line-height: 1.4;
}

.h4 {
  font-family: var(--font-family);
  font-size: 20px;
  line-height: 1.4;
}

.section-title {
  margin-bottom: 35px;
}

.shop-header {
  margin-bottom: 65px;
}

.shop-header__title {
  margin-bottom: 26px;
}

.text-bold {
 font-weight: 600;
}

.text-accent {
  color: #e3b13d;
}

.text-big {
  font-size: 22px;
  text-transform: uppercase;
}

.text-wrap {
  white-space: normal;
  overflow-wrap: break-word;
  white-space: normal;
}

.text-ellipsis {
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}

.block__text {
  height: 60px;     // Ограничение высоты текста для родителя
  overflow: hidden; // Скрываем текст, кот может выйти за рамки контейнера

  .block__desc {
      display: -webkit-box;
      -webkit-box-orient: vertical; // Если конец строки обрезан, то добавляет многоточие
      -webkit-line-clamp: 2; // Ограничиваем кол-во строк текста
      overflow: hidden;
  }
}





