.h1 {
  font-family: var(	--font-titles);
  font-size: 45px;
  line-height: 1.1;
}

.h2 {
  font-family: var(	--font-titles);
  font-size: 40px;
  line-height: 1.1;
}

.h3 {
  font-family: var(	--font-titles);
  font-size: 20px;
  line-height: 1.4;
  text-decoration: underline;
  text-decoration-skip-ink: none;
}

.h4 {
  font-family: var(--font-family);
  font-size: 20px;
  line-height: 1.4;
}

.section-title {
  margin-bottom: 92px;
}

.shop-header {
  margin-bottom: 65px;
}

.shop-header__title {
  margin-bottom: 26px;
}

