:root {
	--container-width: 1140px;
  --container-padding: 15px;
	--container-tablet-big-width: 1140px;

	--font-main: "Dancing Script", sans-serif;
	--font-titles: "Dancing Script", sans-serif;

	--page-bg: #fff;
  --page-bg-accent: #f1eadc;
	--text-color: #000;
  --accent: #c7762f;
	--accent-additional: #998e78;
	--link-color: var(--accent);

  --button-bg: var(--accent);
  --button-bg-hover: #ea9145; 


  --laptop-size: 1600px;
	--tablet-size: 959px;
	--mobile-size: 599px;
}

.dark {
    --page-bg: #252526;
    --text-color: #fff;
}