:root {
  /*containers*/
	--container-width: 1140px;
  --container-padding: 15px;
	--container-tablet-big-width: 1140px;

  /*fonts*/
	--font-main: "Lora", serif;
  --font-secondary: "Work Sans", sans-serif;
  --font--accent: "Dancing Script", sans-serif;
	--font-titles: var(--font-main);

  /*colors*/
  --white: #fff;
  --black: #000;
  --gray-light: #ededed;
  --black-secondary: #1b262c;

	--page-bg: #fff;
  --page-bg-accent: #f1eadc;
	--text-color: #000;
  --accent: #c7762f;
	--accent-additional: #998e78;
	--link-color: var(--accent);

  /*buttons*/
  --button-bg: var(--accent);
  --button-bg-hover: #ea9145;

  --button-primary-bg: var(--accent);
  --button-primary-bg--hover: #ea9145;
  --button-primary-text: var(--white);

  --button-primary-bg--focus: #c75614;
  --button-primary-bg--active: #a75627;
  --button-primary-bg--disabled: #d3b59b;

  --button-primary-outline-bg: transparent;
  --button-primary-outline-bg-hover: #ea9145; 
  --button-primary-outline--hover: var(--button-primary-bg--hover);
  --button-primary-outline-border: var(--white);
  --button-primary-outline-text: var(--white);

  --button-primary-outline-bg--focus: #c75614;
  --button-primary-outline-bg--active: #a75627;
  --button-primary-outline-bg--disabled: #d3b59b;

  --button-icon-bg: rgba(110, 156, 159, 0.1);

  /* inputs */
  --input-border: #1b262c;
  --input-border-focus: #c75614;
  --input-border-hover: var(--accent);
  --input-border-active: var(--accent);
  --input-border-disabled: #b7b7b7;
  --input-bg-disabled: #e1e1e1;

  /* Single product page*/
  --product-gallery-width: 660px;
  // --product-gallery-width: 660px;
  --product-gallery-small-img-qty: 2;
  --product-gallery-gap: 2px;
  --product-gallery-block-width: calc((var(--product-gallery-width) / 2) - var(--product-gallery-gap));
  --product-gallery-small-img-width: calc((var(--product-gallery-block-width) / 2) - 2px);

  /* Components*/
  --counter-bg-colour: var(--accent);
  --counter-font-colour: var(--white);
  

  

  /*Cart*/
  --cart-total-bg-color: var( --gray-light);
  // --cart-total-text-color: var(--white);
  

  /* media */
  --laptop-size: 1600px;
	--tablet-size: 959px;
	--mobile-size: 599px;

  /* admin */
  --admin-panel-bg: var(--black-secondary);

  --admin-panel-link-text: var(--white);
  --admin-panel-button-text: rgba(255, 255, 255, 0.6);
  --admin-panel-button-text-hover: var(--white);
  --admin-panel-font: var(--font-main);
  --admin-panel-font-size: 14px;

  --admin-panel-note-marker-bg: #c90000;
  --admin-panel-note-marker-font: var(--admin-panel-font);
  --admin-panel-note-marker-font-size: 12px;

  --button-solid-admin-bg: var(--accent);

  --admin-panel-sidebar-icon: rgb(255, 255, 255, 0.7);

  /* Dashboard*/
  --admin-dashboard-header-bg: #fff;
  --admin-dashboard-bg: #ededed;
  --admin-dashboard-header-border: var(--accent);
  --admin-dashboard-title-color: #3a3939;
  

  /* Mobile menu*/
  --mobile-menu-color-bg: #474747;
  --mobile-menu-title-size: 26px;
  --mobile-menu-title-font: var(--font-main);
  
}

.dark {
    --page-bg: #252526;
    --text-color: #fff;
}