:root {
  /*containers*/
	--container-width: 1140px;
  --container-padding: 15px;
	--container-tablet-big-width: 1140px;

  /*fonts*/
	--font-main: "Dancing Script", sans-serif;
	--font-titles: "Dancing Script", sans-serif;

  /*colors*/
  --white: #fff;
  --black: #000;
  --gray-light: #ededed;
  --black-secondary: #1b262c;

	--page-bg: #fff;
  --page-bg-accent: #f1eadc;
	--text-color: #000;
  --accent: #c7762f;
	--accent-additional: #998e78;
	--link-color: var(--accent);

  /*buttons*/
  --button-bg: var(--accent);
  --button-bg-hover: #ea9145;

  --button-primary-bg: var(--accent);
  --button-primary-bg--hover: #ea9145;
  --button-primary-text: var(--white);

  --button-primary-bg--focus: #c75614;
  --button-primary-bg--active: #a75627;
  --button-primary-bg--disabled: #d3b59b;

  --button-primary-outline-bg: transparent;
  --button-primary-outline-bg-hover: #ea9145; 
  --button-primary-outline--hover: var(--button-primary-bg--hover);
  --button-primary-outline-border: var(--white);
  --button-primary-outline-text: var(--white);

  --button-primary-outline-bg--focus: #c75614;
  --button-primary-outline-bg--active: #a75627;
  --button-primary-outline-bg--disabled: #d3b59b;

  --button-icon-bg: rgba(110, 156, 159, 0.1);

  /* inputs */
  --input-border: #1b262c;
  --input-border-focus: #c75614;
  --input-border-hover: var(--accent);
  --input-border-active: var(--accent);
  --input-border-disabled: #b7b7b7;
  --input-bg-disabled: #e1e1e1;

  /*Cart*/
  --cart-total-bg-color: var( --gray-light);
  // --cart-total-text-color: var(--white);
  

  /* media */
  --laptop-size: 1600px;
	--tablet-size: 959px;
	--mobile-size: 599px;

  /* admin */
  --admin-panel-bg: var(--black-secondary);

  --admin-panel-link-text: var(--white);
  --admin-panel-button-text: rgba(255, 255, 255, 0.6);
  --admin-panel-button-text-hover: var(--white);
  --admin-panel-font: var(--font-main);
  --admin-panel-font-size: 14px;

  --admin-panel-note-marker-bg: #c90000;
  --admin-panel-note-marker-font: var(--admin-panel-font);
  --admin-panel-note-marker-font-size: 12px;

  /* Mobile menu*/
  --mobile-menu-color-bg: #474747;
  --mobile-menu-title-size: 26px;
  --mobile-menu-title-font: var(--font-main);
  
}

.dark {
    --page-bg: #252526;
    --text-color: #fff;
}