.stats {
  padding: 50px 20px 20px;
}

.stats__list {
  display: flex;
  gap: 45px;
  flex-wrap: wrap;
}

.stats__item {
  padding: 20px 15px;
  min-width: 200px;
  height: 160px;
  flex-grow: 2;
  border-radius: 12px;
}

.stats__row {
  display: flex;
  justify-content: space-between;
}

.stats__row  + .stats__row  {
  margin-top: 20px;
}

.stats__title {
  font-weight: 500;
  font-size: 26px;
}

.stats__value {
  font-size: 28px;
}
