.admin-panel {
  padding: 0 20px;

  position: fixed;
  z-index: 999;
  top: 0;
  left: 0;
  right: 0;

  height: 54px;
  line-height: 54px;
  background-color: var(--admin-panel-bg);

  &__row {
		display: flex;
		justify-content: space-between;
		align-items: center;
	}
}

.admin-panel ~ .header-top {
  padding-top: 70px;
}

.admin-panel__logo .logo {
  font-size: 22px;
  color: #fff;
}

.admin-panel__login {  
  display: flex;
  align-items: center;
  column-gap: 20px;
}

.admin-panel__item {
  margin-right: 10px;

  position: relative;

  display: inline-block;
  width: 24px;
  height: 24px;
}

.admin-panel__item-icon {
  padding: 4px;

  position: absolute;
  top: -50%;
  left: 50%;

  display: inline-block;
  width: 18px;
  border-radius: 50%;
  background-color: var(--admin-panel-note-marker-bg);

  font-size: var(--admin-panel-note-marker-font-size);
  text-align: center;
  font-family: var(--admin-panel-note-marker-font);
}

.admin-panel__block-list {
  display: flex;
  align-items: center;
}

.admin-panel__link {
  margin-right: 45px;

  display: flex;
  align-items: center;

  font-family: var(--font-secondary);
  font-weight: 600;
  font-size: var(--admin-panel-font-size);
  text-decoration: none;
  color: var(--admin-panel-link-text);

  transition: all 0.2s ease-in;

  &:hover {
    opacity: 0.8;
  }
}

.admin-panel__block-button {
  font-family: var(--font-secondary);
  font-weight: 600;
  font-size: 16px;
  color: var(--admin-panel-button-text);

  transition: all 0.2s ease-in;

  &:hover {
    color: var(--admin-panel-button-text-hover);
  }
}

.admin-panel__login .button-login {
  width: 22px;
  height: 22px;
}



// .header {
//   position: sticky;
//   z-index: 999;
//   background-color: #fff;
//   overflow: hidden;

// 	&__row {
// 		display: flex;
// 		justify-content: space-between;
// 		align-items: center;
// 	}
// }
