.catalog {
  padding-bottom: 50px;
}

.catalog__header {
  margin-bottom: 40px;
}

.catalog__container {
  margin: 0 auto;
  padding-left: 15px;
  padding-right: 15px;
  max-width: 100%;
}

.catalog__content {
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
  column-gap: 30px;
}

.catalog-list {
  max-width: 300px;
  display: flex;
  flex-direction: column;
  flex: 1 1 150px;
  box-shadow: 1px 1px 10px #262525;
}

.catalog-list__item {
  // min-height: 50px;
  background-color: var(--color-white);
  border-bottom: 1px solid #b8b8b8;
}

.category-block {
  padding: 15px 10px;

  display: flex;
  align-items: center;
  column-gap: 20px;

  transition: background-color 0.2s ease-in;
  cursor: pointer;

  &:hover {
    background-color: #eeeaea;
  }
}

.category-block > .category-block__text {
  max-width: 400px;
  font-weight: 600;
}

.category-block--sublist > .category-block__text {
  font-weight: 400;
}

.category-block__action-links {
  margin-left: auto;

  display: flex;
  justify-content: flex-end;
  align-items: center;
  column-gap: 10px;

  & > * {
    flex: 1 0 auto;
  }
}

.category-block__link {
  padding: 5px;
  margin: -5px;
  display: inline-block;
  position: relative;
  z-index: 9;
  cursor: pointer;
}

.catalog-list__sublist {
  width: 100%;
}

.catalog-list__sublist__item {
  border-bottom: 1px solid #e6e4e4;
  border-radius: 2px;
  cursor: pointer;

  button {
    width: 100%;
  }
} 

.catalog-list__sublist__item > .category-block > .category-block__text {
  padding-left: 40px;
  max-width: calc(100% - 60px);
}



