.form {
  padding: 20px 40px;
  background: var(--color-white);
  border: 1px solid var(--color-black);
  border-radius: 5px;
}

.form__row {
  display: flex;
  column-gap: 70px;

  & > * {
    flex-grow: 1;
  }
}

.form__field + .form__field {
  margin-top: 40px;
}

.form__field--inputs-wrapper {
  display: flex;
  column-gap: 20px;

  & > * {
    flex-grow: 1;
  }
}

.form__text {
  margin-bottom: 10px;
  display: block;
  font-size: 16px;
  font-weight: 600;
}

.form__textarea {
  padding: 10px 15px;
  width: 100%;
  border: 1px solid var(--color-black);
  border-radius: 5px;
}

.form__input {
  padding: 10px 15px;
  width: 100%;
  border-radius: 5px;
  border: 1px solid #8e8e8e;
  background-color: var(--color-white);
}

.form__button-wrapper {
  margin-top: 40px;
}

.form__button-row {
  display: flex;
  column-gap: 15px;
  align-items: center;
}

.form__column--imgs {
  max-width: 40%;
}

.form__item + * {
  margin-top: 20px;
}

.form__field,
.block-upload__description,
.block-upload__file-wrapper {
  padding: 10px 15px;
  border: 1px solid var(--color-white);
  box-shadow: 1px 1px 4px var(--color-white);
  border-radius: 5px;
  background-color: var(--color-white-rgba-06);
}

.form__field--input-with-button {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-radius: 5px;

  .form__item:first-child {
    width: 50%;
  }
}

.shop-form-new {
  padding: 60px 50px;
  background-color: #9f9e9e;
  border-radius: 15px;
}

.form__select {
  margin-top: 20px;
  display: block;
  width: 100%;
  padding: 10px 14px;
  background: var(--color-white);
  border: 1px solid #7e9bbd;
  border-radius: 6px;
  outline: none;
}

.form__img-wrapper {
  position: relative;
  width: 100px;
  height: 100px;
  overflow: hidden;
  
  img {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }

}

.form__img-wrapper .button-close {
  opacity: 0.01;
}
.form__img-wrapper .button-close svg {
  stroke-width: 2px;
}
.form__img-wrapper::before {
  z-index: 9;
  display: inline-block;
  content: "";
  position: absolute;
  left: 0px;
  top: 0px;
  width: 100%;
  height: 100%;
  transition: background-color 0.2s ease-in;

}
.form__img-wrapper:hover::before {
  background-color:rgba(86, 86, 86, 0.5);
}

.form__img-wrapper:hover .button-close {
  opacity: 1;
}

.under {
  transition: filter 0.2s ease-in-out;
  filter: brightness(55%);
}
.dragged {
  transition: filter 0.2s ease-in-out;
  filter: contrast(110%);
}
