.admin-card {
  position: relative;
  width: 202px;
  height: 172px;
  border: 1px solid rgba(0, 0, 0, 0.3);
  box-shadow: -2px 4px 6px rgba(0, 0, 0, 0.8);
}

.admin-card:hover .tooltip {
  opacity: 1;
}

.admin-card__img {
  width: 200px;
  height: 130px;
  overflow: hidden;

  img {
    width: 100%;
    height: auto;
    object-fit: cover;
  }
}
.admin-card__desc {
  padding: 10px 15px;
  height: 40px;
}
