.cart__grid {
  display: grid;
  grid-template-columns: 5fr 3fr auto;
  align-items: center;

  &--relative {
    position: relative;
  }

}

.cart__grid + .cart__grid  {
  margin-top:var(--space-lg);
}

.cart__head {
  margin-bottom: 50px;
  height: 50px;
  line-height: 50px;
  background-color: var(--color-cart-total-bg-color);
  border-radius: 5px;
}

.cart__body {
  margin-bottom: 50px;
  padding-left: 20px;
  padding-right: 20px;
}

.cart__grid-block {
  padding-left: var(--space-lg);
  padding-right: var(--space-lg);
}

.cart__heading {
  font-family: var(--color-font-main);
  font-size: var(--font-size-xl);
  letter-spacing: 0.02em;
}

.cart__row {
  display: flex;
  align-items: center;
}

.cart__row--end {
  justify-content: flex-end;
}

.cart__text {
  font-size: var(--font-size-md);
  line-height: 1.4;
}

.cart__delete {
  padding: var(--space-lg);
  margin: -(var(--space-lg));
  margin-right: var(--space-xl);
}

.cart__img {
  margin-right: var(--space-xl);
  overflow: hidden;

  img {
    width: 125px;
    height: 179px;
    object-fit: cover;
  }
}

.cart__amount {
  font-size: var(--font-size-lg);

  span {
    display: inline-block;
    width: 47px;
    height: 47px;

    line-height: 47px;
    text-align: center;

    border: 1px solid #afafaf;
  }
 
}

.cart__check {
  margin-bottom: var(--space-xl);
}

.cart__summary-wrapper {
  margin-bottom: var(--space-3xl);
}

.cart__summary {
  height: 50px;
  line-height: 50px;
  padding-left: var(--space-lg);
  padding-right: var(--space-lg);

  background-color: var(--color-cart-total-bg-color);
  border-radius: var(--radius-sm);
}

.cart__total-amount {
  grid-column: 2/3;
}

.cart__total {
  grid-column: 3/4;
}

