.cart-widget {
  position: relative;
  display: inline-block;
  padding-right: 14px;
}

.cart-widget__counter {
  z-index: 9;
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  display: inline-block;
}

