.card-medium {
  height: 340px;
  width: 200px;
  overflow: hidden;
}


.card-medium__img {
  width: 200px;
  height: 260px;
  overflow: hidden;

  img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    filter: brightness(90%); 
  }

}

.card-medium__text {
  margin-top: 20px;

  font-size: 18px;
  font-weight: 500;
}