.card-small {
  width: 270px;
  height: 350px;
  text-align: center;
}

.card-small__img {
  margin-bottom: 24px;

  position: relative;
  overflow: hidden;
  
  &::before {
    z-index: 1;
    content: "";
    position: absolute;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;

    transition: all 0.5s ease;
  }

  img {
    width: 270px;
    height: 270px;
    border-radius: 5px;
    object-fit: cover;
    filter: grayscale(70%);
  }

  svg {
    z-index: 9;
    position: absolute;
    left: 0;
    top: 50%;

    display: inline-block;
    transform: translateY(-50%);
    transition: all 0.5s ease-in-out;
  }
}

.card-small:hover .card-small__img img {
  filter: grayscale(0%);
}

.card-small:hover svg {
  left: 50%;
  transform: translate(-50%, -50%);
  stroke: var(--color-white);
}

.card-small__title {
  margin-bottom: 7px;
}
