.cards-row {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  column-gap: 15px;
  row-gap: 20px;
}

.card {
  position: relative;
  width: 260px;
  height: 500px;
  border-radius: 5px;
}

.card__img {
  margin-bottom: 20px;

  position: relative;
  width: 260px;
  height: 350px;
  overflow: hidden;
  
  &::before {
    z-index: 1;
    content: "";
    position: absolute;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;

    transition: all 0.5s ease;
  }

  img {
    width: 100%;
    height:100%;
    object-fit: cover;
    border-radius: 5px;
    filter: grayscale(70%);
    -webkit-transition : -webkit-filter 500ms linear;
  }

  svg {
    z-index: 9;
    position: absolute;
    left: 0;
    top: 50%;

    display: inline-block;
    transform: translateY(-50%);
    transition: all 0.5s ease-in-out;
  }
}

.card:hover .card__img img {
  filter: grayscale(0%);
}

// .card:hover .card__img::before {
//   background: rgba(234, 145, 69, 0.34);
// }

.card__desc {
  padding: 10px 10px;
  font-size: 20px;
}

.card:hover svg {
  left: 50%;
  transform: translate(-50%, -50%);
  stroke: #fff;
}

.card__title {
  margin-bottom: 7px;
}

.card__price {
  font-weight: 600;
  font-size: 22px;
  line-height: 1.4;
  color: var(--accent);
}