.cart__grid {
  display: grid;
  grid-template-columns: 5fr 2fr 3fr 2fr;
  align-items: center;

  &--relative {
    position: relative;
  }
}

.cart__head {
  margin-bottom: 50px;
}

.cart__grid-block {
  padding-bottom: 26px;
  border-bottom: 1px solid #ccc;
}

.cart__heading {
  font-family: var(--font-main);
  font-weight: 500;
  font-size: 20px;
  line-height: 1.4;
  letter-spacing: 0.02em;
}

.cart__row {
  display: flex;
  align-items: center;
}

.cart__row--end {
  justify-content: flex-end;
}

.cart__text {
  font-size: 17px;
  line-height: 1.4;
}


.cart__delete {
  padding: 20px 20px;
  margin: -20px -20px;
  margin-right: 45px;

  svg {
    transition: all 0.2s ease-in;
  }

  &:hover svg {
    stroke: red;
  }
}

.cart__img {
  margin-right: 36px;

  overflow: hidden;
  img {
    width: 125px;
    height: 179px;
  }
}

.cart__amount {
  font-weight: 400;
  font-size: 20px;

  span {
    display: inline-block;
    width: 47px;
    height: 47px;

    line-height: 47px;
    text-align: center;

    border: 1px solid #afafaf;
  }
 
}

.cart__check {
  margin-bottom: 28px;
}



.cart__buttons-wrapper {
  display: flex;
  column-gap: 15px;
}

