.catalog-dropdown__container {
  position: relative;
  padding-left: 20px;
  padding-right: 20px;

  max-height: calc(100vh - 300px);
}

.catalog-dropdown__background {
  display: none;
 
  position: fixed;
  top: 175px;
  left: 0;
  height: 100vh;
  width: 100vw;
  background-color: rgba(0, 0, 0, 0.6);
}

.catalog-dropdown__background.active {
  display: block;
}