.real-checkbox {
  width: 0;
  height: 0;
  position: absolute;
  opacity: 0;
  z-index: -1;
}

.real-checkbox:focus + .custom-checkbox {
  box-shadow: 
  0px 0px 0px 1px #38577a,
  0px 0px 10px #7e9bbd;
}

.custom-checkbox {
  position: relative;
  display: inline-block;
  width: 20px;
  height: 20px;
  background-color: #fff;
  border: 2px solid #7e9bbd;
  border-radius: 4px;
  vertical-align: sub;
  margin-right: 5px;
  }

.custom-checkbox::before {
  content: "";

  /* Рисуем галочку*/
  display: inline-block;
  width: 9px;
  height: 9px;
  border: 2px solid #38577a;
  border-top-color: transparent;
  border-right-color: transparent;


  /* Выравниваем по центру */
  position: absolute;
  left: 50%;
  top: 40%;
  transform: translate(-50%, -50%) rotate(-45deg) scale(0);
  margin-top: 1px;

  transition: 0.2s ease-in;
}

/*
Активируем фейковый(декоративный) чекбокс
*/

.real-checkbox:checked + .custom-checkbox::before {
  transform: translate(-50%, -50%) rotate(-45deg) scale(1);
}
