.cart {
  position: relative;

  .counter {
    position: absolute;
    top: -9px;
    right: -10px;

    display: inline-block;
    width: 15px;
    height: 15px;

    border-radius: 50%;
    background-color: var(--accent-additional);

    font-weight: 400;
    font-size: 9px;
    line-height: 1.3;
    text-align: center;
    color: #fff;
  }
}

.link {
  font-weight: 500;
  font-size: 17px;
  line-height: 1.4;

  color: var(--link-color);
  text-decoration: underline;
  text-underline-offset: 5px;
  text-decoration-color: transparent;

  transition: all 0.5s ease;

  &:hover {
    text-decoration: underline;
    text-underline-offset: 5px;
    text-decoration-color: #cededf;
  }
}

.social-list {
  display: flex;
  justify-content: flex-end;
  column-gap: 12px;
}

.breadcrumbs {
  
}

.payment-list {
  display: flex;
  justify-content: flex-end;
}