.cart {
  position: relative;

  .counter {
    position: absolute;
    top: -9px;
    right: -10px;

    display: inline-block;
    width: 15px;
    height: 15px;

    border-radius: 50%;
    background-color: var(--accent-additional);

    font-family: var(--font-family);
    font-weight: 400;
    font-size: 9px;
    line-height: 1.3;
    text-align: center;
    letter-spacing: 0.02em;
    color: #fff;
  }
}