.counter {
  padding: 5px;

  display: flex;
  align-items: center;
  justify-content: center;
  
  width: 23px;
  height: 22px;
  border-radius: 50%;
  background-color: var(--counter-bg-colour);
  
  & > * {
    font-size: 10px;
    color: var(--counter-font-colour);
  }
}