.cross-wrapper {
  width: 30px;
  height: 30px;
}

.cross-wrapper .rightleft,
.cross-wrapper .leftright {
  height: 2px;
  width: 25px;

  position: absolute;
  background-color: #121212;
  border-radius: 2px;

  transition: all 0.3s ease-in;
}

.cross-wrapper .rightleft {
  transform: rotate(-45deg);
}

.cross-wrapper .leftright {
  transform: rotate(45deg);
}

.cross-wrapper:hover .leftright {
  transform: rotate(-45deg);
  background-color: var(--accent);
}

.cross-wrapper:hover .rightleft {
  transform: rotate(45deg);
  background-color: var(--accent);
}