.dropdownMenu {
  display: none;
  flex-direction: column;
  justify-content: space-between;

  position: absolute;
  top: 0;
  bottom: 0;
  width: 100%;
  height: 100%;

  background-color: #fff;

  &::before {
    position: absolute;
    top: 50%;
    content: "";
    display: inline-block;

    width: 0px;
    height: 0px;
    border: 10px solid #fff;
    border-top-color: transparent;
    border-left-color: transparent;
    transform: translateY(-50%) rotate(-45deg);
  }
}

.dropdownMenu--admin-card {
  top: -50%;
  left: -50%;
  transform: translateX(50%);

  width: 170px;
  height: 206px;
  background-color: #fff;
  box-shadow: 1px 5px 6px #000;
  border-radius: 5px;

  &::before {
    right: -8px;
  }

  .icon {
    width: 14px;
    height: 14px;

    stroke: #000;
    fill: #000;
  }
}

.dropdownMenu.open {
  display: flex;
}

.dropdownMenu__link  {
  padding-top: 5px;
  padding-bottom: 5px;
  padding-left: 15px;
  padding-right: 15px;

  transition: background-color 0.2s ease;

  &:first-child {
    padding-top: 10px;
  }

  &:last-child {
    padding-bottom: 10px;
  }

  &:hover {
    background-color: #ededed;
  }
}

// .dropdownMenu__item + .dropdownMenu__item {
//   margin-top: 15px;
// }

.dropdownMenu__link {
  display: flex;
  column-gap: 15px;
  align-items: center;

  .icon {
    flex-shrink: 0;
  }
}

.dropdownMenu__text {
  font-size: 15px;
}
