.form-order {
  width: 100%;
}

.form-order__user {
  display: grid;
  grid-template-columns: 1fr 100px 1fr;
}

.form-order__row {
  display: flex;
  flex-wrap: wrap;
  column-gap: 70px;
  row-gap: 15px;
}

.form-order__row + .form-order__row  {
  margin-top: 20px;
}

.form-order__input-wrapper {
  width: 350px;
}

.form-order__table {
  margin-bottom: 160px;
}

.form-order__table-row {
  padding: 20px 15px;

  display: grid;
  grid-template-columns: 3fr 2fr 1fr;
  column-gap: 30px;

   font-size: 18px;
   box-shadow: 0px 0px 4px #cfcece;
}

.form-order__total--button-fake {
  position: relative;
  z-index: 2;
  &::before {
    z-index: -1;
    display: inline-block;
    content: "";
    position: absolute;
    top: -15px;
    left: -18px;

    display: inline-block;
    width: 65%;
    height: 57px;

    background-color: #f1eadc;

    font-weight: 500;
    font-size: 25px;
    line-height: 1.4;
    color: #000;
  }
}

.form-order__img-wrapper {
  width: 60px;
  height: auto;
}

.form-order__button-wrappers {
  margin-top: 100px;

  display: flex;
  align-items: center;
  column-gap: 40px;
}

.form-order__label {
  margin-bottom: 15px;
  display: block;
}

.form-order__field + .form-order__field {
  margin-top: 30px;
}

.form-order__title {
  font-size: 18px;
  color: #fff;
}

.form-order__title-block {
  padding: 10px 15px;
 
  border-radius: 5px;
  background-color: #000;
}

.form-order__title-wrapper {
  margin-bottom: 30px;
}

.form-order__user .form-order__block:first-child {
  grid-column: 1;
}

.form-order__user .form-order__block:last-child {
  grid-column: 3;
}


.form-order__total {
  margin-top: 40px;
  background-color: #f1eadc;
}

.form-order__table-header {
  font-size: 16px;
  font-weight: 600;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
  background-color: #ededed;
  box-shadow: 0px 0px 6px #ababab;
}

