.header-top {
  padding-top: 51px;
  background: linear-gradient(
    90deg, 
    #fff 57%, 
    var(--page-bg-accent) 57%
    );

	&__row {
		display: flex;
		justify-content: space-between;
		align-items: center;
	}
}

.header-top__nav {
	@include tablet {
		display: none;
	}
}

.header-top__cta {
  width: 255px;
}

.header-top__phone {
  column-gap: 10px;
}