.header {
  padding-top: 51px;
  padding-bottom: 65px;
	background-color: #fff;

	&__row {
		display: flex;
		justify-content: space-between;
		align-items: center;
	}
}

.header__nav {
	@include tablet {
		display: none;
	}
}

.header__cta {
  width: 255px;
}

.header__phone {
  column-gap: 10px;
}