.header-top {
  position: sticky;
  z-index: 99;
  top: 0;
  padding-top: 50px;
  padding-bottom: 40px;
  background-color: #fff;

	&__row {
		display: flex;
		justify-content: space-between;
		align-items: center;
	}
}

.header-top__row + .header-top__row {
  margin-top: 35px;
}

.header-top__row nav {
  width: 100%;
}

.main-page .header-top.header-top--gradient-bg {
  background: linear-gradient(
    90deg, 
    #fff 57%, 
    var(--page-bg-accent) 57%
  );
}

.header-top__nav {
	@include tablet {
		display: none;
	}
}
