.header-top {
  position: sticky;
  background-color: #fff;

	&__row {
		display: flex;
		justify-content: space-between;
		align-items: center;
	}
}

.header-top__row + .header-top__row {
  margin-top: 35px;
}

.header-top__dropdown {
  padding: 10px;
  position: relative;

  width: 100%;
  border-top: 1px solid var(--accent);
}


.header-top__row nav {
}

.header-top__nav {
	@include tablet {
		display: none;
	}
}

.header-top__login {
  margin-right: 25px;
  
  display: flex;
  column-gap: 10px;
  align-items: center;
}
