.icons-wrapper {
	padding: 30px 0;
	display: flex;
	column-gap: 30px;
}

.icon {
	fill: transparent;
	stroke: transparent;
	width: 25px;
	height: 25px;
}

.icon--logo, .icon--shopping-bag, .icon--arrow-right.dark  {
	fill: #000;
}

.icon--arrow-bottom {
  width: 14px;
  height: 28px;
	stroke: #6e9c9f;
}

.icon--arrow-right {
  width: 32px;
  height: 24px;
}

.icon--approved, .icon--wheel, .icon--hand {
  width: 60px;
  height: 60px;
  fill: #000;
}

.icon--phone {
  padding: 3px 4px 7px 6px;
  width: 27px;
  height: 27px;
  fill: #6E9C9F;
	transition: all 0.5s ease;
}

:is(a:hover) .icon--phone {
  background-color: var(--accent);
  fill: #fff;
}

.icon--instagram, .icon--facebook, .icon--twitter {
  width: 23px;
  height: 23px;
  fill: #fff;
  transition: fill 0.2s ease-in;

  &:hover {
    fill: var(--accent);
  }
}

.icon--file-check {
  width: 96px;
  height: 96px;
  fill: #6E9C9F;
}

.icon--control-up, .icon--control-down {
  width: 14px;
  height: 10px;
  stroke: #A0BBCC;
}

.icon--delete {
  width: 12px;
  height: 12px;
  stroke: #000;
}

.icon--success {
  width: 96px;
  height: 96px;
  fill: #6E9C9F;
}

.icon--slider-arrow {
  stroke: #000;
}

.icon--slider-arrow-prev {
  transform: rotate(180deg);
}

.icon--profile {
  stroke: #000;
}

.icon--logout {
  fill: #000;
}

.icon--plane, .icon--note, .icon--check, .icon--payment {
  width: 20px;
  height: 20px;
  stroke: #000;
}

.icon--payment {
  fill: #000;
}

.icon--box {
  width: 40px;
  height: 40px;
  fill: #fff;
  stroke: #fff;
}

.icon--parfume, .icon--bag, .icon--glasses, .icon--category_all, .icon--cosmetics, .icon--watch,
.icon--earrings, .icon--suitcase, .icon--glasses_men, .icon--belt, .icon--necktie, .icon--watch_man, .icon--toy
 {
  width: 20px;
  height: 20px;
  fill: #000;
  stroke: #000;
}

.icon--woman-with-hat {
  stroke: #000;
  fill: #000;
  width: 50px;
  height: 50px;

  transition: fill 0.2s ease-in;
}

.header-top__login a:hover .icon--woman-with-hat {
  fill: var(--accent);
}


// admin panel 
.admin-panel {
  .icon--target, .icon--mail, .icon--folder, .icon--message-square, .icon--edit {
    stroke: var(--white);
  }
}