.nav { 
  position: relative;
}

.nav__item {
  position: relative;

  &::after, &::before {
    content: "";
    position: absolute;
    left: 0;

    width: 100%;
    height: 1px;
    background-color: #ea9245a1;
  }
    
  &::before {
   top: 0;
  }
  &::after {
    bottom: 0;
  }
 
}

.nav__list {
	display: flex;
  align-items: flex-start;

  font-family: var(--font-family);
  font-weight: 400;
  font-size: 15px;
  line-height: 1.4;
  color: #ea9245;
}

.nav-tab {
  position: relative;
}

.nav-tab:hover {
  .nav__item {
    background-color: #dcdcdc2a;
  }
  
  &::after {
    height: 2px;
    background-color: #d5a609;
  }
}

.nav:hover .sub-nav {
  display: block;
}

.nav-tab {
  cursor: pointer;
}

.nav__item {
  padding-left: 20px;
  padding-right: 20px;
  padding-top: 15px;
  padding-bottom: 15px;

  color: #000;
  transition: color 0.5s ease;

  &:hover {
    color: var(--link-color);
  }
}

.sub-nav {
  display: none;
  position: fixed;
  width: 1115px;
  min-height: 300px;
  padding: 15px;

  justify-content: center;


  position: absolute;
  left: 0;
  top: 50px;

  
  background-color: #fff;
}


.sub-nav__container {
  display: grid;
  column-gap: 20px;
  grid-template-columns: 200px 1fr;
}

.sub-nav__item {
  padding: 10px 5px;

  display: grid;
  align-items: center;
  column-gap: 20px;
  grid-template-columns: 20px 1fr 20px;

  transition:  background-color, 0.3s ease-in;
}

.sub-nav__link {
}

.sub-sub-nav__list {
  padding: 0px 0px 0px 5px;

  display: none;
  position: absolute;
  top: 0;
  left: 100%;
  min-width: 300px;
}

.sub-sub-nav__list > li {
  background-color: #fff;
}

.sub-sub-nav_list {
  padding: 15px;
  position: relative;

  &::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;

    display: inline-block;
    width: 1px;
    height: 100%;
    background-color: #ea9245a1;
  }

}

.sub-sub-nav__item {
  padding: 10px 5px;
  transition:  background-color, 0.3s ease-in;

  &:hover {
    background-color: #ededed79;
  }
}


.sub-sub-nav__link {
}

.nav__arrow {
  position: relative;
}
.arrow {
  display: none;
  position: absolute;
  left: 50%;
  top: 50%;

  width: 10px;
  height: 10px;

  border-top: 2px solid #000;
  border-right: 2px solid #000;
  transform: translate(-50%, -50%) rotate(45deg);
}
.sub-nav__item:hover {
  background-color: #ededed79;

  .arrow {
    display: block;
  }
}

.sub-nav__arrow.arrow {
  right: 10px;
  border-left: 10px solid #000;
  border-top: 10px solid transparent;
  border-bottom: 10px solid transparent;
  border-right: none;
}

.arrow.active {
  transform: rotate(-180deg);
}



// body.mouse .nav__list > li:hover .sub-nav__list {
//   display: block;
// }

// body.mouse .sub-nav__list > li:hover .sub-sub-nav__list {
//   display: block;
// }

// body.touch .sub-nav__list.open{
//   display: block;
// }

// body.touch .sub-sub-nav__list.open{
//   display: block;
// }
 
// body.touch .arrow {
//   display: block;
// }