.nav li {
  position: relative;
}

.nav a.parent {
  margin: 0px 26px 0px 0px;
}

.nav__item {
  position: relative;

  &::after, &::before {
    content: "";
    position: absolute;
    left: 0;

    width: 100%;
    height: 1px;
    background-color: #ea9245a1;
  }
    
  &::before {
   top: 0;
  }
  &::after {
    bottom: 0;
  }
 
}

.nav__list {
	display: flex;
  align-items: flex-start;

  font-family: var(--font-family);
  font-weight: 400;
  font-size: 15px;
  line-height: 1.4;
  color: #ea9245;
}

.nav__list > li:hover .nav__item {
  background-color: #f4f2f2;
  
  &::after {
    background-color: #a49191;
  }
}

.nav-tab {
  position: relative;
}

.nav__item {
  padding-left: 20px;
  padding-right: 20px;
  padding-top: 15px;
  padding-bottom: 15px;

  cursor: pointer;
  color: #000;
  transition: color 0.5s ease;

  &:hover {
    color: var(--link-color);
  }
}

.sub-nav__list {
  padding: 15px;
  display: none;
  width: 1115px;
  position: absolute;
  left: 0;
  top: 52px;
  background-color: #fff;
}

.sub-nav__list > li {
}

.sub-nav__link {
  padding: 5px 10px;
  color: #fff;
}

.sub-sub-nav__list {
  padding: 0px 0px 0px 5px;

  display: none;
  position: absolute;
  top: 0;
  left: 100%;
  min-width: 300px;
}

.sub-sub-nav__list > li {
  background-color: #fff;
}

.sub-sub-nav__link {
}

.nav__arrow {
}
.arrow {
  display: none;
  position: absolute;
  right: 0;
  top: 8px;

  width: 0;
  height: 0;
  border-top: 10px solid #000;
  border-right: 10px solid transparent;
  border-left: 10px solid transparent;
}

.sub-nav__arrow.arrow {
  right: 10px;
  border-left: 10px solid #000;
  border-top: 10px solid transparent;
  border-bottom: 10px solid transparent;
  border-right: none;
}

.arrow.active {
  transform: rotate(-180deg);
}

.nav__list > li:hover .sub-nav__list {
  display: block;
}


// body.mouse .nav__list > li:hover .sub-nav__list {
//   display: block;
// }

// body.mouse .sub-nav__list > li:hover .sub-sub-nav__list {
//   display: block;
// }

// body.touch .sub-nav__list.open{
//   display: block;
// }

// body.touch .sub-sub-nav__list.open{
//   display: block;
// }
 
// body.touch .arrow {
//   display: block;
// }