.nav { 
  position: relative;
  background-color: #fff;
}

.nav__list {
  position: relative; 

  height: 44px;

  display: flex;
  align-items: center;

  overflow: hidden;
  cursor: pointer;
}

.nav__block {
  position: relative;
  padding-left: 30px;
  padding-right: 30px;
  height: 44px;
  line-height: 44px;

  color: #000;
  transition: color 0.5s ease;

  overflow: hidden;

  &:hover {
    background-color: #dcdcdc2a;
  
    &::after {
      position: absolute;
      display: inline-block;
      content: "";
      left: 0;
      bottom: 0;
      height: 1px;
      width: 100%;
      background-color: #d5a609;
    }
  }
}

.sub-nav.active {
  display: flex;
}

.sub-nav {
  z-index: 9;
  position: fixed;
  left: 0;

  width: 100%;
  min-height: 300px;
  padding: 20px 15px;

  background-color: #fff;
}

.sub-nav__list {
  padding-left: 40px;

  display: flex;
  flex-direction: column;
  row-gap: 10px;

  // &--with-right-border {
  //   border-right: 1px solid var(--accent)
  // }
}


.sub-nav__container {
  display: grid;
  column-gap: 20px;
  grid-template-columns: 300px 21px 1fr;
}

.sub-nav__line-separator {
  margin-left: 10px;
  margin-right: 10px;
  display: inline-block;
  width: 1px;
  height: 100%;
  background-color: var(--accent);
}

.sub-nav__item {
  height: 40px;
  line-height: 40px;

  display: grid;
  align-items: center;
  column-gap: 20px;
  grid-template-columns: 20px 1fr 20px 10px;

  transition:  background-color, 0.3s ease-in;
}


.sub-sub-nav__list {
  padding: 0px 0px 0px 5px;

  display: none;
  position: absolute;
  top: 0;
  left: 100%;
  min-width: 300px;
}

.sub-sub-nav__list > li {
  background-color: #fff;
}

.sub-sub-nav__list {
  position: relative;
  top: 0;
  left: 0;

  display: flex;
  flex-direction: column;
  align-items: flex-start;
  flex-wrap: wrap;
  gap: 5px;
  max-height: calc(100vh - 500px);
}

.sub-sub-nav__item {
  padding: 0 10px;
  height: 40px;
  line-height: 40px;
  transition:  background-color, 0.3s ease-in;

  &:hover {
    background-color: #ededed79;
  }
}

.nav__arrow {
  position: relative;
}

.arrow {
  position: absolute;
  left: 50%;
  top: 50%;

  width: 0;
  height: 0;

  visibility: hidden;

  border-top: 2px solid #000;
  border-right: 2px solid #000;
  transform: translate(-50%, -50%) rotate(45deg);

  transition: all 0.2s ease-in;
}

.sub-nav__item.active {
  background-color: #ededed79;

  .arrow {
    width: 10px;
    height: 10px;

    visibility: visible;
    opacity: 1;

  }
}

.sub-nav__arrow.arrow {
  right: 10px;
  border-left: 10px solid #000;
  border-top: 10px solid transparent;
  border-bottom: 10px solid transparent;
  border-right: none;
}

.arrow.active {
  transform: rotate(-180deg);
}

/*Desctop*/
// body.mouse .nav__list > li:hover .sub-nav__list {
//   display: block;
// }

// body.mouse .sub-nav__list > li:hover .sub-sub-nav__list {
//   display: block;
// }



// body.touch .sub-nav__list.open{
//   display: block;
// }

// body.touch .sub-sub-nav__list.open{
//   display: block;
// }
 
// body.touch .arrow {
//   display: block;
// }