.section-pagination {
  display: flex;
  align-items: center;
  justify-content: center;
  column-gap: var(--space-md);
}

.section-pagination__item {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 41px;
  height: 41px;
  border: 1px solid #000;

  line-height: 1.4;
}

.section-pagination__item.active {
  background-color: var(--color-black);
  color: var(--color-white);
}

.pagination-button {
  display: inline-block;
  color: inherit
}


.arrow-prev {
  transform: rotate(180deg);
}