.product__gallery-container{
  // padding-right: 20px;
  max-width: 738px;
  // height: 450px;

  overflow: hidden;
}

.product__gallery {
  display: flex;
  column-gap: var( --product-gallery-gap);
  justify-content: space-between;
}

.product__gallery-block {
  max-width: var(--product-gallery-block-width);
}



.product__gallery-block--main-img {
}

.product__gallery-block--small-imgs {
  display: flex;
  align-content: space-between;
  justify-content: space-between;
  flex-wrap: wrap;
  // column-gap: var(--product-gallery-gap);
  // display: grid;
  // grid-template-columns: repeat(2, 1fr);
  // grid-template-rows: repeat(2, 1fr);

  figure {
    width: var(--product-gallery-small-img-width);
  }

  img {
    width: 100%;
    height: auto;
    object-fit: cover;
  }

}

