.product__desc {
  padding: 20px;
  border: 1px solid #000;
}

.product__cta {
  display: flex;
  column-gap: 11px;
}

.product__text {
  margin-bottom: 14px;

  font-weight: 500;
  font-size: 20px;
  line-height: 1.4;
}

.product__button {
  margin-top: 15px;
  text-align: center;
}
