.product-details {
  padding-bottom: 20px;
  border-bottom: 1px solid #000;
}

.product-details__item {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  align-items: center;
  column-gap: 15px;
}

.product-details__item  + .product-details__item  {
  margin-top: 15px;
}


