.product__gallery-container{
  padding-right: 20px;
  width: 660px;
  height: 420px;

  overflow: hidden;
}

.product__gallery {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: 1fr;
  gap: 2px;
}
 
.product__imgs-main {
  grid-column: 1/2;
  grid-row: 1/2;
}

.product__img, .product__img a {
  height: 100%;

  img {
    height: 100%;
    width: 100%;
    object-fit: cover;
  }
}

.product__imgs-small {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(2, 1fr);
  gap: 2px;
}