.schema {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  justify-content: space-between;
  align-items: stretch;
  
  text-align: center;
  column-gap: 20px;

  * {
    flex: 1 1;
  }

  svg {
    width: 80px;
    height: 80px;
    flex-shrink: 0;
  }

  link {
    display: block;
    margin-top: 100%;
  }
}

.schema__item {
  // padding-top: 40px;
  position: relative;

  display: grid;
  grid-template-rows: 40px 80px 1fr 30px;
  justify-content: space-between;
  row-gap: 20px;
  align-items: center;
  flex-direction: column;

  p {
      padding-left: 4px;
      padding-right: 4px;
  }

  &::before {
    position: absolute;
    display: inline-block;
    content: "1";
    color: var(--color-white);
    font-weight: 500;
    top: 0;
    left: 50%;
    transform: translateX(-50%);
    width: 32px;
    height: 32px;
    background-color: var(--color-orange-100);
    border-radius: 50%;
  }

}

.schema__icon {
  margin-bottom: 15px;
}

.schema__link {
  margin-top: auto;
}



