.search {
  padding: 10px 15px;
  display: flex;
  column-gap: 20px;
  align-items: center;

  border-radius: 20px;
  background-color: #fff;
  box-shadow: 0px 0px 4px #c1bebe, 0px 0px 10px #837f7f;
}

.search .icon--loupe {
  width: 20px;
  height: 20px;
  fill: #837f7f;
}