.table {
  width: 100%;
  min-width: 600px;
  border-collapse: collapse;
  table-layout: fixed;

  background-color: #fff;

  thead {
    color: #fff;
    background-color: #1e1e1e;
  }
}

th, td {
  padding: 12px 8px;
  text-align: left;
  border-bottom: 1px solid #ddd;
  vertical-align: top;
  word-wrap: break-word;
  overflow-wrap: break-word;
  white-space: normal;
  word-break: break-word;
}