.tooltip {
  z-index: 9;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0px;
  opacity: 1;
  // opacity: 0;
  
  transition: opacity 0.4s ease;
}

.tooltip--admin-card {
  padding: 10px 10px 0 10px;
  bottom: 40px;
  background-color: rgba(0, 0, 0, 0.6);
}

.tooltip__row {
  display: flex;
  justify-content: space-between;
  align-items: center;
}


