.swiperHeaderText {
  width: 563px;
  height: 385px;
}

.swiperHeaderImg {
  width: 410px;
  height: 646px;
}

/*Pagination*/
.swiperHeaderText-buttons {
  bottom: -126px;
  right: 163px;
  // padding-top: 126px;
  // padding-right: 163px;

  display: flex;
  justify-content: flex-start;
  column-gap: 12px;
}

.swiperHeaderText-buttons button {
  display: inline-block;
  width: 30px;
  height: 4px;
  background-color: #d1d1d1;
}

.swiperHeaderText-buttons button.active {
  background-color: #000;
}


