@media (max-width: 1500px) {
  .swiper.swiperHeaderImg {
    margin-right: auto;
  }

  .header__image-less:last-child {
    right: 100px;
  }

  .header__image-main {
    padding-left: 0;
  }

  .header__image-less:first-child {
    width: 150px;
  }

  
  // .header__image-main img {
  //   width: 350px;
  // }

  .header__image-less:last-child {
    right: 170px;
  }
}

@media (max-width: 1200px) {
  .container {
    max-width: 1169px;
  }

  .h1 {
    font-size: 45px;
  }

  .button-solid, a.button-solid {
    width: 240px;
  }

  .header-top {
    padding-top: 30px;
    padding-bottom: 30px;
  }
  
  .header-top__phone {
    display: none;
  }

  .header-top__cta {
    width: unset;
  }

  .flex-block {
    justify-content: flex-end;
  }

  .header__title {
    margin-bottom: 30px;
  }

 
  .header__image-less:first-child {
    left: 0;
  }

  .swiper.swiperHeaderImg {
    margin-right: 0; 
    .swiper-slide {
      margin-right: 0;
    }
  }

  .swiper.swiperHeaderImg {
    width: 350px;
  }

  .swiper.swiperHeaderText {
    width: 450px;
  }

  .header__image-less:last-child, .header__image-less:first-child {
    display: none;
  }

  .header__desc {
    padding-right: 100px;
  }

  .header__button {
    padding-right: 100px;
  }

}