/* Mobile */
@media (max-width: 767px) {
  .h1 {
    font-size: 25px;
  }

  .h2 {
    font-size: 28px;
  }

  .h4 {
    font-size: 16px;
  }

  .section-title {
    margin-bottom: 40px;
    text-align: center;
  }

  .nav {
    display: none;
  }

  .button-solid, a.button-solid {
    height: 58px;
    line-height: 17px;
    width: 200px;
  }

  .button-icon-wrapper {
    width: 58px;
    height: 58px;
  }

  .button-icon-wrapper {
    background-color: rgba(255, 255, 255, 0.8);
  }

  .cart {
    margin-right: 15px;
  }

  .icon--approved, .icon--wheel, .icon--hand {
    width: 40px;
    height: 40px;
  }

  .main-page .header-top.header-top--gradient-bg, .header {
    background: unset;
  }

  /* Header */
  .header__button {
    margin-bottom: 0;
  }

  .header__content {
    position: relative;
  }

  .header__desc {
    padding-right: 0;
    margin-bottom: 0;

    p {
      font-size: 14px;
    }
  }

  .header__hero {
    position: absolute;
    top: 0;
    z-index: 0;
 
    &::before {
      position: absolute;
      z-index: 9;
      content: "";
      display: inline-block;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
      background-color: rgb(255, 255, 255, 0.9);
    }
  }

  .header__button {
    padding-right: 0;

    position: relative;
    z-index: 9;
    
    justify-content: center;
  }

  .header__image-main img {
    width: 290px;
    height: 400px;
  }

  .header__content {
    display: flex;
    align-items: center;
    justify-content: center;
    column-gap: unset;
  }

  .swiper.swiperHeaderText {
    margin-bottom: 0;
    padding: 20px 15px 0 15px;
    width: 290px;
    height: 200px;
  }

  .swiper.swiperHeaderImg {
    width: 290px;
    height: 290px;
  }

  .swiperHeaderText-pagination.swiper-pagination.swiper-pagination-bullets {
    bottom: -60px;
  }
 
  /* Arrival*/
  .arrival {
    padding-top: 30px;
  }

  .arrival__cards-wrapper {
    margin-bottom: 20px;
  }

  .cards-row {
    column-gap: unset;
    row-gap: 10px;
    justify-content: center;
  }

  .card {
    height: 360px;
    width: 869px;
  }

  .card__img img {
    width: 100%;
    height: 280px;
  }

  /* Mobile */
  .feature {
    padding-top: 30px;
  }

  .feature__list {
    margin-bottom: 40px;

    grid-template-columns: unset;
    column-gap: unset;
    grid-template-rows: repeat(3, 1fr);
    row-gap: 20px;

    text-align: center;
  }

  .feature__img {
    margin-bottom: 10px;
  }

  .feature__name {
    font-size: 20px;
  }

  .feature__text {
    font-size: 15px;
  }
  
}