/* Mobile */
@media (max-width: 767px) {
  .h1 {
    font-size: 25px;
  }

  .nav {
    display: none;
  }

  .button-solid, a.button-solid {
    height: 58px;
    line-height: 17px;
    width: 200px;
  }

  .button-icon-wrapper {
    width: 58px;
    height: 58px;
  }

  .cart {
    margin-right: 15px;
  }

  .main-page .header-top.header-top--gradient-bg, .header {
    background: unset;
  }

  .header__button {
    margin-bottom: 0;
  }

  .header__content {
    position: relative;
  }

  .header__desc {
    padding-right: 0;
    margin-bottom: 0;

    p {
      font-size: 14px;
    }
  }

  .header__hero {
    position: absolute;
    top: 0;
    z-index: 0;
 
    &::before {
      position: absolute;
      z-index: 9;
      content: "";
      display: inline-block;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
      background-color: rgb(255, 255, 255, 0.9);
    }
  }

  .header__button {
    position: relative;
    z-index: 9;
  }

  .swiper.swiperHeaderText {
    margin-bottom: 0;
    padding: 20px 15px 0 15px;
    width: 290px;
    height: 200px;
  }

  .swiper.swiperHeaderImg {
    width: 290px;
    height: 290px;
  }

  .swiperHeaderText-pagination.swiper-pagination.swiper-pagination-bullets {
    bottom: -60px;
  }

  .header__image-main img {
    width: 290px;
    height: 400px;
  }

  .header__content {
    display: flex;
    align-items: center;
    justify-content: center;
    column-gap: unset;
  }

  .header__button {
    padding-right: 0;
    justify-content: center;
  }

  .button-icon-wrapper {
    background-color: rgba(255, 255, 255, 0.8);
  }
}