/* Tablet */
@media (max-width: 900px) {
  .container {
    max-width: 899px;
  }

  .header-top {
    padding-top: 30px;
    padding-bottom: 30px;
  }

  .nav {
    display: none;
  }

  .header__phone {
    display: none;
  }

  .header__hero {
    position: absolute;
    z-index: 0;
  }

  .swiper.swiperHeaderText {
    width: 320px;
    background-color: rgba(255, 255, 255, 0.8);
  }

  .swiper.swiperHeaderImg {
    width: 320px;
  }

  .header__image-main img {
    width: 320px;
    height: 400px;
  }

  .header__desc {
    padding-right: 0;
  }
}