/* Tablet */
@media (max-width: 900px) {
  .container {
    max-width: 899px;
  }

  .h2 {
    font-size: 32px;
  }

  .h4 {
    font-size: 18px;
  }

  .section-title {
    margin-bottom: 40px;
  }

  .button-outline {
    height: 58px;
    line-height: 17px;
  }

  /* Header -top*/
  .header-top {
    padding-top: 30px;
    padding-bottom: 30px;
  }

  .header__phone {
    display: none;
  }

  .header__image-main img {
    width: 250px;
    height: 400px;
  }

  .swiper.swiperHeaderText {
    width: 350px;
  }

  .swiper.swiperHeaderImg {
    width: 350px;
    height: auto;
  }

  .arrival {
    padding-top: 60px;
  }

  /* Arrival*/
  .arrival__cards-wrapper {
    margin-bottom: 45px;
  }

  .cards-row {
    column-gap: 15px;
  }

  .card {
    height: 400px;
    width: 236px;
  }

  .card__img {
    margin-bottom: 16px;
  }

  .card__img img {
    width: 236px;
    height: 330px;
  }
}