/* Base */
@import './base/reset';
@import './base/vars';
@import './base/mixins';
@import './base/base';
@import './base/utils'; // Тест на ошибку
@import './base/containers';
@import './base/sticky-footer';
@import './base/buttons';
@import './base/typoghraphy';
@import './base/fontsAutoGen';


/* Blocks */
@import './blocks/*.scss';

/* Sections */

@import './sections/*.scss';

/*Media*/
@import './media/*.scss';


/* No styles code below. Only in modules */
/* Не пишите CSS код ниже. Только в подключаемых файлах */
